@import './assets/scss/theme.scss';

.container {
  max-width: 800px;
  min-width: 300px;
  margin: 8px auto;
  border: 1px solid $blue;
  border-radius: $borderRadius;
  padding: 8px 16px;
}

.flex {
  display: flex;
  flex-wrap: wrap;

  .f1 {
    flex: 1;
  }

  .f2 {
    flex: 2;
  }

  .f3 {
    flex: 2;
  }

}

.currentTemp {
  font-size: 1.2em;
  color: $blue;
  font-weight: bold;
}
